MyOwnSite/.vs/config/applicationhost.config
MyOwnSite/MyOwnSite.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyOwnSite/.vs/MyOwnSite/v14/.suo
MyOwnSite/MyOwnSite.Tests/bin/Debug/MyOwnSite.dll
MyOwnSite/MyOwnSite.Tests/bin/Debug/MyOwnSite.pdb
MyOwnSite/MyOwnSite.Tests/bin/Debug/MyOwnSite.Tests.dll
MyOwnSite/MyOwnSite.Tests/bin/Debug/MyOwnSite.Tests.pdb
MyOwnSite/MyOwnSite.Tests/obj/Debug/MyOwnSite.Tests.csproj.FileListAbsolute.txt
MyOwnSite/MyOwnSite.Tests/obj/Debug/MyOwnSite.Tests.csprojResolveAssemblyReference.cache
MyOwnSite/MyOwnSite.Tests/obj/Debug/MyOwnSite.Tests.dll
MyOwnSite/MyOwnSite.Tests/obj/Debug/MyOwnSite.Tests.pdb
MyOwnSite/MyOwnSite/obj/Debug/MyOwnSite.csproj.FileListAbsolute.txt
