bin/Antlr3.Runtime.dll
bin/EntityFramework.dll
bin/EntityFramework.SqlServer.dll
bin/Microsoft.AI.Agent.Intercept.dll
bin/Microsoft.AI.DependencyCollector.dll
bin/Microsoft.AI.PerfCounterCollector.dll
bin/Microsoft.AI.ServerTelemetryChannel.dll
bin/Microsoft.AI.Web.dll
bin/Microsoft.AI.WindowsServer.dll
bin/Microsoft.ApplicationInsights.dll
bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
bin/Microsoft.Practices.ServiceLocation.dll
bin/Microsoft.Practices.Unity.Configuration.dll
bin/Microsoft.Practices.Unity.dll
bin/Microsoft.Practices.Unity.Mvc.dll
bin/Microsoft.Practices.Unity.RegistrationByConvention.dll
bin/Microsoft.Practices.Unity.WebApi.dll
bin/Microsoft.Web.Infrastructure.dll
bin/MyOwnSite.dll
bin/MyOwnSite.dll.config
bin/Newtonsoft.Json.dll
bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
bin/roslyn/Microsoft.CodeAnalysis.dll
bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
bin/roslyn/System.Collections.Immutable.dll
bin/roslyn/System.Reflection.Metadata.dll
bin/System.Net.Http.Formatting.dll
bin/System.Web.Helpers.dll
bin/System.Web.Http.dll
bin/System.Web.Http.WebHost.dll
bin/System.Web.Mvc.dll
bin/System.Web.Optimization.dll
bin/System.Web.Razor.dll
bin/System.Web.Webpages.Deployment.dll
bin/System.Web.Webpages.dll
bin/System.Web.Webpages.Razor.dll
bin/WebActivatorEx.dll
bin/WebGrease.dll
obj/Debug/MyOwnSite.dll
App_Data/MyOwnSite.UserContext.mdf
App_Data/MyOwnSite.UserContext_log.ldf
ApplicationInsights.config
bin/Antlr3.Runtime.pdb
bin/EntityFramework.SqlServer.xml
bin/EntityFramework.xml
bin/Microsoft.AI.DependencyCollector.xml
bin/Microsoft.AI.ServerTelemetryChannel.xml
bin/Microsoft.AI.Web.xml
bin/Microsoft.AI.WindowsServer.xml
bin/Microsoft.ApplicationInsights.xml
bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
bin/Microsoft.Practices.ServiceLocation.pdb
bin/Microsoft.Practices.ServiceLocation.xml
bin/Microsoft.Practices.Unity.Configuration.xml
bin/Microsoft.Practices.Unity.Mvc.xml
bin/Microsoft.Practices.Unity.RegistrationByConvention.xml
bin/Microsoft.Practices.Unity.WebApi.xml
bin/Microsoft.Practices.Unity.xml
*.dll
*.css
*.map
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png
Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png
Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png
Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png
Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png
Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png
Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png
Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png
Content/themes/base/images/ui-icons_222222_256x240.png
Content/themes/base/images/ui-icons_2e83ff_256x240.png
Content/themes/base/images/ui-icons_444444_256x240.png
Content/themes/base/images/ui-icons_454545_256x240.png
Content/themes/base/images/ui-icons_555555_256x240.png
Content/themes/base/images/ui-icons_777620_256x240.png
Content/themes/base/images/ui-icons_777777_256x240.png
Content/themes/base/images/ui-icons_888888_256x240.png
Content/themes/base/images/ui-icons_cc0000_256x240.png
Content/themes/base/images/ui-icons_cd0a0a_256x240.png
Content/themes/base/images/ui-icons_ffffff_256x240.png
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MyOwnSite.csprojResolveAssemblyReference.cache
obj/Debug/MyOwnSite.pdb
bin/System.Web.Webpages.Deployment.xml
bin/System.Web.Webpages.Razor.xml
bin/System.Web.Webpages.xml
fonts/glyphicons-halflings-regular.eot
fonts/glyphicons-halflings-regular.svg
fonts/glyphicons-halflings-regular.ttf
fonts/glyphicons-halflings-regular.woff
fonts/glyphicons-halflings-regular.woff2
bin/MyOwnSite.pdb
bin/Newtonsoft.Json.xml
bin/roslyn/csc.exe
bin/roslyn/Microsoft.CSharp.Core.targets
bin/roslyn/Microsoft.VisualBasic.Core.targets
bin/roslyn/vbc.exe
bin/roslyn/VBCSCompiler.exe
bin/roslyn/VBCSCompiler.exe.config
bin/System.Net.Http.Formatting.xml
bin/System.Web.Helpers.xml
bin/System.Web.Http.WebHost.xml
bin/System.Web.Http.xml
bin/System.Web.Mvc.xml
bin/System.Web.Optimization.xml
bin/System.Web.Razor.xml
Properties/AssemblyInfo.cs
Scripts/bootstrap.js
Scripts/bootstrap.min.js
Scripts/customscripts.js
Scripts/jquery.unobtrusive-ajax.js
Scripts/jquery.unobtrusive-ajax.min.js
Scripts/jquery.validate.js
Scripts/jquery.validate.min.js
Scripts/jquery.validate.unobtrusive.js
Scripts/jquery.validate.unobtrusive.min.js
Scripts/jquery.validate-vsdoc.js
Scripts/jquery-3.1.1.intellisense.js
Scripts/jquery-3.1.1.js
Scripts/jquery-3.1.1.min.js
Scripts/jquery-3.1.1.slim.js
Scripts/jquery-3.1.1.slim.min.js
Scripts/jquery-ui-1.12.1.js
Scripts/jquery-ui-1.12.1.min.js
Scripts/modernizr-2.6.2.js
Web.Debug.config
Web.Release.config
